<div class="filter">
<%= link_to 'Show', @invoice, :class=>'button' %>
<%= link_to 'Back', invoices_path, :class=>'button' %>
</div>

<div class="good_looking_form">
<h1>Editing invoice</h1>
<%= render 'form' %>
</div>
