<div class="filter">
<%= link_to 'Show', @invoice_status, :class=>'button' %>
<%= link_to 'Back', invoice_statuses_path, :class=>'button' %>
</div>
<div class="good_looking_form">
<h1>Editing invoice status</h1>

<%= render 'form' %>
</div>
