/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
*/

body {
	font-family:Arial, Verdana;
	background-image: url("grey-background.jpg");
	/* text-shadow:0px 1px 0px white; */
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:blue;
}

.log_admin_box {
  float: right; 
  font-family: Georgia; 
  font-size: 20px; 
  padding: 5px;
  line-height:50px;
  text-align: right;
  margin-right:10px;
  text-shadow:0px 1px 0px white;
}
.log_admin_box a {
	margin-left:20px;
}
.log_admin_box a:hover {
  background:inherit;
  color:#000;
}

