@import "bootstrap_and_overrides";
@import "active_admin";
@import "common";
@import "chosen";
@import "bootstrap-datetimepicker.min";

#content .field, #content .form-actions {
  width:inherit;
}

.green_bg {
  background:#e3f3e5!important;
}


label {
  margin-top:0px;
  float: left;
  width: 200px;
}

select {
  margin-bottom:0px;
}

.chzn-drop {
  top:29px!important;
  width:245px!important;
  border-color: #CCCCCC!important;
}
.chzn-container-single .chzn-single {
  background: #FFFFFF!important;
  border: 1px solid #CCCCCC!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset!important;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s!important;
  border-radius: 3px 3px 3px 3px;
  color: #7D7874;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 3px;
  padding: 5px 6px;
  width: 233px;
}

li.account {
  .title {
    display: inline-block;
    width:150px;
  }
  .currency {
    display: inline-block;
  }
  .balance {
    display: inline-block;
    width:80px;
    text-align:right;
  }
  .last_entry {
    display: inline-block;
    width:70px;
    padding-right:10px;
    padding-left:10px;
    text-align:center;
  }
} 

li.entry {
  .valid_after {
    display: inline-block;
    width:70px;
    padding-right:10px;
    padding-left:10px;
    text-align:center;
  }
  .amount {
    display: inline-block;
    width:80px;
    text-align:right;
  }
  .title {
    display: inline-block;
    width:200px;
    white-space: nowrap;
  }
  
  .category_code {
    display: inline-block;
    width:70px;
    white-space: nowrap;
  }
  
  .category_title {
    display: inline-block;
    width:100px;
    white-space: nowrap;
  }
}

.inputs-list {
  list-style:none;
  > li > label {
    display: inline;
    float: none;
  }
}

.index_table a {
  border-bottom:none!important;
}

.index_table td.money {
  text-align:right;
}

.index_table td.icon {
  text-align:center;
}

.panel input[type="text"] {
    padding:4px 6px!important; 
    font-size: 12px!important; 
    border-radius:inherit!important;
}

.month_report_actions {
  float:right;
  > h3 {
    margin-top:0px
  }
  .input {
    display:inline;
    margin-right:10px;
  }
  button {
    width:100px; 
  }
}
