body {
	font-family:Arial, Verdana;
	background-image: url(grey-background.jpg);
	text-shadow:0px 1px 0px white;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:blue;
}

.log_admin_box {
  float: right; 
  font-family: Georgia; 
  font-size: 20px; 
  padding: 5px;
  line-height:50px;
  text-align: right;
  margin-right:10px;
  text-shadow:0px 1px 0px white;
}
.log_admin_box a {
	margin-left:20px;
}
.log_admin_box a:hover {
  background:inherit;
  color:#000;
}

.website_title {
	float:left;
	font-style:italic;
	font-family: Georgia;
	font-size:40px;
	margin-left:10px;
	text-shadow:0px 1px 0px white;
}

.website_title a:hover {
  color:black;
  background:inherit;
}

table, th, td {
	border:1px solid #EEE;
	font-size:12px;
	border-spacing: 0;
	padding:5px;
	border-collapse: collapse;
}

table {
	width:100%;
}

th {
	background:#EEE;
}

#container {
	clear:both;
}

#menu {
	color:white;
	background:#444;
	padding:5px;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	font-size:14px;
	height:40px;
	clear:both;
	line-height:38px;
}
#menu a{
	margin-left:20px;
	margin-right:0px;
	color:#DDD;
	text-shadow:0px 1px 0px black;
}
#menu a:hover {
	background:#444;
	color:#FFF;
}

#new_user > div > label {
	width:200px;
	font-size: 14px;
}

#new_user {
	margin-top:100px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#new_user > div > input {
	margin-bottom:0px;
	font-size:20px;
	padding:10px;
	border:none;
}
#new_user > div > input.sign_up_email {
	-moz-border-radius: 5px 5px 0px 0px;
	border-bottom:1px solid #EEE;
	text-shadow: 0px 1px 1px #DDD;
	width:300px;
}
#new_user > div > input.sign_up_password {
	-moz-border-radius: 0px 0px 5px 5px;
	margin-bottom:20px;
	text-shadow: 0px 1px 1px #DDD;
	width:300px;
}
#new_user > div > input.sign_up_submit {
	margin-bottom:20px;
	-moz-border-radius: 5px;
	background:#444;
	color:white;
	text-shadow:0px 1px 0px black;
	cursor:pointer;
}

.ui-widget-header {
	border:0px;
	background:#CCC;
	padding:10px!important;
}

.dataTables_filter input {
	-moz-border-radius: 5px;
	border:0px;
	padding:5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-image: none!important;
	background:#EEE!important;
}

.odd {
	background:#F8F8F8!important;
}
.odd > .sorting_1 {
	background:#F8F8F8!important;
}
.even > .sorting_1 {
	background:#FFF!important;
}