<div class="filter">
<%= link_to 'Show', @category, :class=>'button' %> |
<%= link_to 'Back', categories_path, :class=>'button' %>
</div>

<div class="good_looking_form">
<h1>Editing category</h1>

<%= render 'form' %>
</div>


