!!!
%html
  %head{:profile => "http://gmpg.org/xfn/11"}
    %title Lalaso Beijing Technologies
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:id => 'top'}
  
    = yield